.page-head
  p.page-head__pre-title(data-aos="fade-up") Полезные материалы
  p.page-head__title(data-aos="fade-up") Вы также будете приятно удивлены стоимостью наших изделий, так как важнейшим приоритетом работы.
