.production__graph(data-aos="fade-right")
  .container.container--team
    p.today__section Полный цикл
      br
      |  создания продукта
    .production__graph-scroll
      .production__graph-container
        .production__graph-bg.production__graph-bg--hd
          +svgColor('graph-bg')
        .production__graph-bg.production__graph-bg--xl
          +svgColor('graph-bg-xl')

        .production__graph-item
          p Появление идеи о
            br
            |  создании изделия
          .production__graph-icon
            +svgColor('icon-gr1')

        .production__graph-item
          p Разработка изделия в
            br
            |  конструкторском бюро
          .production__graph-icon
            +svgColor('icon-gr2')

        .production__graph-item
          p Производство
            br
            |  пресс-формы
          .production__graph-icon
            +svgColor('icon-gr6')

        .production__graph-item
          p
            span Закупка сырья
            br
            |  (полипропилена, красителя)
          .production__graph-icon
            +svgColor('icon-gr5')

        .production__graph-item
          p Загрузка сырья в
            br
            |  ТПА
          .production__graph-icon
            +svgColor('icon-gr4')

        .production__graph-item
          p Появление готового
            br
            |  изделия из ТПА
          .production__graph-icon
            +svgColor('icon-gr3')

        .production__graph-item
          p Упаковка в
            br
            |  коробки
          .production__graph-icon
            +svgColor('icon-gr7')

        .production__graph-item
          p Коробки с изделием едут
            br
            |  в магазин
          .production__graph-icon
            +svgColor('icon-gr8')

        .production__graph-item
          p Изделие стоит на
            br
            |  полке магазина
          .production__graph-icon
            +svgColor('icon-gr9')
