// products
.products
  display: flex
  flex-wrap: wrap
  margin: 0 -10px
  &__col
    width: 100%
    flex: 0 0 $col3
    max-width: $col3
    padding: 0 10px
    &--2
      flex-basis: $col2
      max-width: $col2
    &--4
      flex-basis: $col4
      max-width: $col4
    &--mt-
      margin-top: -90px
    &--editable
      padding-left: 5%
      padding-top: 20px

// product
.product
  position: relative
  &__image
    font-size: 0
    img
      width: 100%

  &__content
    position: absolute
    z-index: 2
    top: calc(50% - 24px)
    right: 15%
    size: 48px
  &__plus
    position: relative
    z-index: 4
    size: 48px
    display: flex
    justify-content: center
    align-items: center
    background: #FFFFFF
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15)
    border-radius: 50%
    font-size: 0
    transition: .25s $ease
    .ico
      fill: $colorPrimary
      font-size: 18px
      transition: transform .25s $ease
      will-change: transform
    &.is-active
      .ico
        transform: rotate(45deg)
    &:hover
      // .ico
      //   transform: rotate(45deg)
      // & + .product__dropdown
        // opacity: 1
        // transform: translate3d(0,0,0)

body:not(.is-mobile) .product__content:hover
  .product__plus .ico
    transform: rotate(45deg)
  .product__plus
    opacity: 1
    transform: translate3d(0,0,0)
    pointer-events: all

.product
  &__dropdown
    position: absolute
    z-index: 3
    min-width: 270px
    min-height: 270px
    display: flex
    flex-direction: column
    left: 24px
    top: -110px
    // border: 1px solid #F2F2F2
    background: white
    border-radius: 4px
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15)
    opacity: 0
    transform: translate3d(10px,0,0)
    // will-change: transform
    will-change: auto
    pointer-events: none
    transition: all .25s $ease
    &--reverse
      right: 24px
      left: auto
      transform: translate3d(-10px,0,0)
    &.is-active
      opacity: 1
      pointer-events: all
      transform: translate3d(0, 0, 0)

  &__dropdown-wrapper
    position: relative
    flex: 1 0 auto
    // padding: 24px

  &__article, &__title
    position: absolute
    z-index: 2
    left: 24px
  &__article
    top: 16px
    font-size: 12px
    color: #828282

  &__title
    bottom: 24px
    font-size: 16px
    line-height: 1.3

  &__dropdown-image
    // position: absolute 0
    display: flex
    flex-direction: column
    img
      flex: 1 1 auto
      width: 100%
      height: 100%
      object-fit: cover

  &__icon
    font-size: 0
    margin-top: 35px
    .ico
      font-size: 80px
      color: transparent
    img
      height: 80px

  &__info
    p
      font-size: 18px
      line-height: 28px
      color: #333
      margin: 24px 0 0
      span
        color: $colorPrimary
        font-weight: 600


+r($hd)
  .products
    &__col
      &--mt-
        margin-top: -65px
  .product
    &__icon
      margin-top: 5px
    &__info
      p
        font-size: 16px
        line-height: 24px


+r($xl)
  .products
    &__col
      &--2
        flex-basis: $col3
        max-width: $col3
      &--mt-
        flex-basis: $col3
        max-width: $col3
        margin-top: 25px

+r($lg)
  .product
    &__plus
      width: 32px
      height: 32px
      .ico
        font-size: 12px
    &__content
      width: 32px
      height: 32px
      right: 8%
      top: calc(50% - 16px)
    &__dropdown
      min-width: 180px
      min-height: 180px
      top: -80px
    &__dropdown-wrapper
      // padding: 15px
    &__title
      font-size: 12px
    &__icon
      margin-top: -5px
      .ico
        font-size: 60px
      img
        height: 60px
    &__info
      p
        font-size: 14px
        line-height: 20px
        margin-top: 18px
  .products
    &__col
      &--mt-
        margin-top: 10px
      &--2
        margin-bottom: 65px

+r($md)
  .products
    &__col
      flex: 0 0 $col6
      max-width: $col6
      &--2
        flex: 0 0 $col12
        max-width: $col12
        margin-top: 25px
        margin-bottom: 0
        .product
          display: flex
      &--4
        flex: 0 0 $col12
        max-width: $col12
      &--editable
        flex: 0 0 $col12
        max-width: $col12
        .product
          display: flex

      &:first-child
        .product__dropdown
          right: auto
          left: 24px
          transform: translate3d(10px, 0, 0)
        .product
          &:hover
            .product__dropdown
              transform: translate3d(-10px, 0, 0)


    &__news
      padding: 0 10px

  .product
    &__icon
      margin-top: 0
      margin-right: 10px
    &__info
      p
        margin-top: 0
    &__dropdown
      min-width: 140px
      min-height: 140px
      left: auto
      right: 24px
      // top: 100%
      transform: translate3d(0, 0, 0)
    &__dropdown-wrapper
      // padding: 10px
    &__article, &__title
      left: 15px
    &__title
      font-size: 10px
      // bottom: 15px

      position: static
      width: 100%
      padding: 0 15px 10px
    &__article
      top: 15px
      font-size: 10px
      position: relative
      width: 100%
      padding: 10px 15px 0
      // margin-bottom: -10px
      left: 0
      top: 0
      z-index: 2

    // &__content
    //   right: auto
    //   left: 50%
    //   transform: translateX(-50%)
    &__plus
      &:hover
        & + .product__dropdown
          // opacity: 1
          // transform: translate3d(10px,0,0)
  body:not(.is-mobile) .product__content:hover .product__dropdown, .product__dropdown.is-active
    transform: translate3d(10px, 0, 0)
