// SEPARATOR CATALOG
a(href="#" data-aos="fade-up").separator
  .container
    .separator__wrapper
      .separator__image
        img(src='img/separatorImage.png' srcset='img/separatorImage@2x.png 2x')
      .separator__title <strong>Каталог 2019:</strong> узнайте больше из нашего каталога
