//separator
.separator
  display: block
  background: $colorPrimary
  color: white
  &__wrapper
    position: relative
    display: flex

  &__image
    position: absolute
    bottom: 0
    left: -100px
    font-size: 0
    transform: translateY(0px)
    transform-origin: center bottom
    transition: transform .25s $ease
    img
      max-width: 100%

  &__title
    padding: 24px 0 24px 220px
    font-size: 20px
    line-height: 1.3

  &:hover
    .separator
      &__image
        transform: scale(1.02)

+r($lg)
  .separator
    &__title
      font-size: 16px
      line-height: 21px
      padding: 17px 0 17px 135px
    &__image
      left: -50px
      img
        height: 125px

+r($md)
  .separator
    &__title
      font-size: 14px
      line-height: 18px
      padding: 13px 0 13px 120px
    &__image
      left: -45px
      img
        height: 125px
        margin-left: -7px
