.materials
  .container.container--full

    include ../page-head/_materials

    .materials__scroll(data-aos="fade-up")
      .materials__filter
        a.materials__filter-btn.is-active(href="#" js-materials-btn) Все
        a.materials__filter-btn(href="#" js-materials-btn) Каталоги
        a.materials__filter-btn(href="#" js-materials-btn) Листовки
        a.materials__filter-btn(href="#" js-materials-btn) Сетификаты
        a.materials__filter-btn(href="#" js-materials-btn) Прайс-листы
        a.materials__filter-btn(href="#" js-materials-btn) Отчеты

    .materials__grid
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Мебель бытовая детская: стульчики детские "Малыш" (арт.513), стульчики детские (артикул 413) из полипропилена.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p  Система менеджмента качества применительно к производству и реализации изделий из пластмассы соответствует требованиям ГОСТ ISO 9001-2011 (ИСО 9001:2008)
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия санитарно-гигиенические из пластических масс: горка для купания детей до 8-ми месяцев (арт. 226), материал - полипропилен.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия хозяйственного обихода из пластических масс
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Мебель бытовая детская: стульчики детские "Малыш" (арт.513), стульчики детские (артикул 413) из полипропилена.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p  Система менеджмента качества применительно к производству и реализации изделий из пластмассы соответствует требованиям ГОСТ ISO 9001-2011 (ИСО 9001:2008)
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия санитарно-гигиенические из пластических масс: горка для купания детей до 8-ми месяцев (арт. 226), материал - полипропилен.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия хозяйственного обихода из пластических масс
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Мебель бытовая детская: стульчики детские "Малыш" (арт.513), стульчики детские (артикул 413) из полипропилена.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p  Система менеджмента качества применительно к производству и реализации изделий из пластмассы соответствует требованиям ГОСТ ISO 9001-2011 (ИСО 9001:2008)
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия санитарно-гигиенические из пластических масс: горка для купания детей до 8-ми месяцев (арт. 226), материал - полипропилен.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия хозяйственного обихода из пластических масс
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Мебель бытовая детская: стульчики детские "Малыш" (арт.513), стульчики детские (артикул 413) из полипропилена.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p  Система менеджмента качества применительно к производству и реализации изделий из пластмассы соответствует требованиям ГОСТ ISO 9001-2011 (ИСО 9001:2008)
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия санитарно-гигиенические из пластических масс: горка для купания детей до 8-ми месяцев (арт. 226), материал - полипропилен.
          .materials__size
            p pdf. 2 mb
      .materials__col
        .materials__item(data-aos="fade-up")
          .materials__icon
            +svgColor('icon-doc')
            .ico-hover
              +svgColor('icon-doc-down')
          .materials__info
            p Изделия хозяйственного обихода из пластических масс
          .materials__size
            p pdf. 2 mb

    .materials__pagination
      .pagination.cdp(actpage="1" data-aos="fade-left")
        a.cdp_i(js-pagination href="#!-1")
          +svgColor('right-arrow')
        a.cdp_i(js-pagination href="#!1") 1
        a.cdp_i(js-pagination href="#!2") 2
        a.cdp_i(js-pagination href="#!3") 3
        a.cdp_i(js-pagination href="#!4") 4
        a.cdp_i(js-pagination href="#!5") 5
        a.cdp_i(js-pagination href="#!6") 6
        a.cdp_i(js-pagination href="#!7") 7
        a.cdp_i(js-pagination href="#!8") 8
        a.cdp_i(js-pagination href="#!9") 9
        a.cdp_i(js-pagination href="#!10") 10
        a.cdp_i(js-pagination href="#!11") 11
        a.cdp_i(js-pagination href="#!12") 12
        a.cdp_i(js-pagination href="#!13") 13
        a.cdp_i(js-pagination href="#!14") 14
        a.cdp_i(js-pagination href="#!15") 15
        a.cdp_i(js-pagination href="#!+1")
          +svgColor('right-arrow')
