article.article
  .container.container--article

    include ../page-head/_article

    .article__image
      img(src='img/articleImg.jpg' srcset='img/articleImg@2x.jpg 2x')
    .article__content
      p.p-big Вся продукция изготовлена из безопасной пищевой пластмассы с яркими декорами, нанесенными с помощью технологии IML, которые не стираются и не отслаиваются в процессе использования.
      p А любимые персонажи на изделиях из мультсериалов «Фиксики» и DISNEY («Самолеты», «Тачки», «Мики Маус», «Феи», « Принцессы») поднимут настроение Вашим учащимся и украсят их школьные будни!
      p
        a(href="#") Ланч-боксы
        |   и
        a(href="#")  контейнеры
        |   0,75 л– Ваши ученики могут взять с собой в школу бутерброды, фрукты, печенье и много другое. Благодаря прочному материалу и удобным крышкам с защелками содержимое контейнера не помнётся и не рассыплется в рюкзаке, также в ланч-боксах можно разогревать пищу в СВЧ-печи.
      p
        a(href="#") Мультибоксы на 3
        |   и
        a(href="#")  5 секций
        |   – удобные настольные мини-комоды для хранения школьных принадлежностей помогут Вашим учащимся организовать пространство на письменном столе и украсят детский интерьер. С помощью съемных перегородок каждый ящик можно разделить пополам, а на крышке имеется несколько ячеек для ручек, ластиков и других мелочей.
      p
        a(href="#") Коробки (1,9 л
        |   и
        a(href="#")  5 ,5 л)
        |   для хранения, школьных принадлежностей и игрушек. Благодаря конструкции крышки и дна, коробки удобно ставить друг на друга для экономии места.
      p
        a(href="#") Контейнеры для фломастеров и карандашей 0,6 л
        |   с надежными и удобными крышками, благодаря которым содержимое не высыплется из контейнера.
      p
        a(href="#") Ящики (6,5 л; 10 л; 15 л; 30л) для хранения игрушек,
        |   одежды и школьных принадлежностей с яркими декорами станут незаменимыми помощниками в наведении порядка и организации пространства в детской комнате. Крышки контейнеров надежно закрываются на защелки, а ручки на крышке позволят переносить ящики с места на место или брать с собой в дорогу.
