// HERO
.hero.hero--with-overlay
  .hero__background(data-aos="blur")
    video(muted loop autoplay poster="img/heroBackground_1.jpg")
      source(src="video/cooperation1.mp4" type="video/mp4")
      source(src="video/cooperation1.webm" type="video/webm")
  .hero__content(data-aos="fade-up")
    .container.container--team
      .hero__subtitle Контактное производство
      .hero__title Создавая продукт, Мы создаем ценность для наших Партнеров!
