// HERO
.hero
  .hero__background(data-aos="blur")
    img(src='img/heroBackground_1.jpg' srcset='img/heroBackground_1@2x.jpg 2x')
  .hero__content(data-aos="fade-up")
    .container
      .hero__subtitle Работа с нами
      .hero__title <strong>Полимербыт</strong> является главным игроком на российском рынке бытовых изделий из пластмасс.
