// HERO
.hero.hero--with-overlay
  .hero__background(data-aos="blur")
    video(muted="muted" loop="" autoplay="autoplay" poster="http://www.polimerbyt.ru/local/templates/polimerbyt/img/heroBackground_1.jpg")
      source(src="http://www.polimerbyt.ru/local/templates/polimerbyt/include/production/prod1.mp4" type="video/mp4")
      source(src="http://www.polimerbyt.ru/local/templates/polimerbyt/include/production/prod1.webm" type="video/webm")
    img.mobile-poster(src="http://www.polimerbyt.ru/local/templates/polimerbyt/img/heroBackground_1.jpg")

  .hero__content(data-aos="fade-up")
    .container.container--team
      .hero__subtitle.hero__subtitle--edit Наше производство
      .hero__title.hero__title--edit <strong>Качество производства</strong> – залог признания многих поколений наших потребителей.
