// HERO
.hero.hero--with-overlay
  .hero__background(data-aos="blur")
    video(muted loop autoplay poster="img/heroBackground_1.jpg")
      source(src="video/prod1.mp4" type="video/mp4")
      source(src="video/prod1.webm" type="video/webm")
    //- img(src='img/heroBackground_1.jpg' srcset='img/heroBackground_1@2x.jpg 2x')
  .hero__content(data-aos="fade-up")
    .container.container--team
      .hero__subtitle.hero__subtitle--edit Наше производство
      .hero__title.hero__title--edit <strong>Качество производства</strong> – залог признания многих поколений наших потребителей.
