// BRANDS
.brands
  .container
    .brands__title(data-aos="fade-up") Наши бренды
    .brands__wrapper
      .brands__col(data-aos="fade-up")
        a(href="#").brand-card
          .brand-card__image
            img(src='img/brandCard_1.svg' alt="")
          .brand-card__description На предприятии внедрена технология двухкомпонентного литья, на изделия наносятся рисунки с помощью новейшей технологии “In-mould”.
          a.btn.btn-primary(href="#") Перейти на сайт

      .brands__col(data-aos="fade-up")
        a(href="#").brand-card
          .brand-card__image
            img(src='img/brandCard_2.svg' alt="")

          .brand-card__description На предприятии внедрена технология двухкомпонентного литья, на изделия наносятся рисунки с помощью новейшей технологии “In-mould”.
          a.btn.btn-primary(href="#") Перейти на сайт
