// BRANDS
.brands
  padding: 70px 0 175px
  background: #fff
  position: relative
  overflow: hidden
  // &--hover
  //   *
  //     color: #fff !important
  //   .brand-card__image--color
  //     display: none
  //   .brand-card__image-hover
  //     display: block
  &__bg
    position: absolute 0
    z-index: 1
    display: flex
    flex-direction: column
    font-size: 0
    transition: all 0.75s $ease
    opacity: 0
    // &.is-active
    //   opacity: 1
    img
      position: relative
      z-index: 1
      flex: 1 1 auto
      width: 100%
      height: 100%
      object-fit: cover
  &__title
    // TODO - possibly typography class
    font-weight: bold
    font-size: 30px
    line-height: 1.3
    text-align: center
    margin-bottom: 24px
    transition: all 0.75s $ease
  &__wrapper
    display: flex
    margin: -10px

  &__col
    width: 100%
    min-width: 1px
    min-height: 0px
    padding: 10px
    flex: 0 0 $col6
    max-width: $col6
    display: flex
    flex-direction: column
  .btn
    display: none
    max-width: 115px
    margin: 15px auto 0

  &__content
    position: relative
    z-index: 2

// brand card
.brand-card
  flex: 1 0 auto
  display: flex
  flex-direction: column
  text-align: center
  max-width: 365px
  margin: 0 auto
  position: relative
  &__image
    flex: 0 0 auto
    padding-bottom: 35px
    img
      max-width: 100%
    .ico
      font-size: 120px
      color: #0BA14B
    &-hover
      display: none
  &__description
    // margin-top: auto
    font-size: 18px
    line-height: 1.55
    text-align: center
    color: #4F4F4F
  // &:hover
    // margin-top: -49px
    // .btn
      // display: inline-block

+r($hd)
  .brands
    padding: 70px 0 105px
  // brand card
  .brand-card
    &__image
      padding-bottom: 30px
    &__description
      font-size: 16px

+r($xl)
  .brands
    padding: 50px 0 75px
    &__title
      font-size: 24px
      margin-bottom: 0px
    &__wrapper
      justify-content: space-around
    &__col
      flex: 0 0 42%
      max-width: 42%

  .brand-card
    &__image
      padding-bottom: 12px
      img
        height: 75px
      .ico
        font-size: 75px

+rmin($lg)
  .brands
    &--hover
      *
        color: #fff !important
      .brand-card__image--color
        display: none
      .brand-card__image-hover
        display: block
    &__bg
      &.is-active
        opacity: 1

  .brand-card
    &:hover
      margin-top: -49px
      .btn
        display: inline-block

+r($lg)
  .brands
    padding-bottom: 70px
    &__title
      font-size: 20px
      line-height: 26px
      margin-bottom: 5px
    .btn
      display: inline-block
      max-width: 115px
      margin: 15px auto 0

  .brand-card
    &__description
      font-size: 14px
      line-height: 20px


+r($md)
  .brands
    padding-bottom: 40px
    &__title
      font-weight: 400
      text-align: left
      margin-bottom: 15px
    &__col
      flex: 0 0 50%
      max-width: 50%
    .btn
      margin: 15px auto 0 0

  .brand-card
    text-align: left
    &__description
      font-size: 11px
      line-height: 16px
      text-align: left
    &:hover
      margin-top: 0
