#yur-popup.modal-conditions.mfp-with-anim.mfp-hide
  p.modal-conditions__title Для юридических лиц
  ul.modal-conditions__list
    li Устав организации
    li Приказ о назначении директора
    li Доверенность на подписание договора (выдается за подписью   руководителя предприятия или иного лица, уполномоченного на это учредительными документами предприятия)
    li Свидетельство о внесении записи в ЕГРЮЛ
    li Свидетельство о постановке на учет в налоговом органе (ИНН/КПП)
    li Справка из банка о наличии счета
    li Информационное письмо об учете в ЕГРПО (коды статистики)
    li Выписка из ЕГРЮЛ
    li Копия паспорта лица, уполномоченного действовать от организации без доверенности
  p.modal-conditions__sub-title Также обращаем Ваше внимание, что при заключении договора поставки оптовая партия отгружаемого товара должна быть кратной целой коробке по любому выбранному изделию из ассортимента.

#ip-popup.modal-conditions.mfp-with-anim.mfp-hide
  p.modal-conditions__title Для индивидуальных предпринимателей
  ul.modal-conditions__list
    li Свидетельство о государственной регистрации физического лица в качестве индивидуального предпринимателя
    li Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории Российской Федерации
    li Выписка из ЕГРИП
    li Копия паспорта

  p.modal-conditions__sub-title Также обращаем Ваше внимание, что при заключении договора поставки оптовая партия отгружаемого товара должна быть кратной целой коробке по любому выбранному изделию из ассортимента.
