---
title: Контактное производство
---
extends shared/_layout
block content

  // header modifier class
  div(js-header-class data-class="is-white")

  include ../components/hero/_contactProd
  include ../components/contact/_info
