.page404
  .page404__image(data-aos="fade-up")
    img(src='img/404.png' srcset='img/404@2x.png 2x')
  .page404__info(data-aos="fade-up")
    p Извините, но запрашиваемая Вами страница на нашем сайте не найдена.
    a.btn.btn-primary(href="#") Перейти на главную страницу
