// FOOTER
.footer
  border-top: 1px solid $borderColor
  &__wrapper
    display: flex

  &__left, &__right
    width: 100%
    min-width: 1px
    min-height: 0px

  &__left
    flex: 0 0 365px
    max-width: 365px
    padding: 65px 0 48px

  &__right
    flex: 1 1 auto
    max-width: 100%
    border-left: 1px solid $borderColor
    // minus 5px pl for menu a
    padding: 70px 0 50px 35px
    display: flex
    align-items: flex-start

  &__logo
    margin: 0px 0 24px
    color: $colorPrimary
    font-size: 0
    .ico
      font-size: 50px

  &__address
    margin: 24px 0 12px
  &__address-title
    font-size: 12px
    line-height: 16px
    color: #BDBDBD
  &__address-content
    margin: 4px 0
    font-size: 16px
    line-height: 21px
    color: #4F4F4F

  &__developer
    a
      display: inline-block
      font-size: 13px
      line-height: 17px
      color: #828282
      transition: color .25s $ease
      &:hover
        color: $colorPrimary

  &__menu
    list-style: none
    margin: 0 25px 0 0
    padding: 0
    display: flex
    flex-wrap: wrap
    li
      width: 100%
      min-width: 1px
      min-height: 0
      flex: 0 0 50%
      max-width: 50%
      margin-bottom: 6px
    a
      display: inline-block
      padding: 5px
      font-size: 15px
      line-height: 1.3
      text-transform: uppercase
      transition: color .25s $ease
      &:hover
        color: $colorPrimary

  &__nav
    display: flex
    margin-left: auto
  &__nav-link
    flex: 0 0 auto
    margin-right: 20px
    &:last-child
      margin-right: 0px

/* nav link
.nav-link
  min-width: 235px
  display: flex
  align-items: center
  padding: 16px 12px 16px 16px
  border: 1px solid #E0E0E0
  border-radius: 5px
  transition: border .25s $ease

  &__content
    flex: 1 1 auto
    min-width: 1px
    min-height: 0
  &__title
    font-size: 12px
    line-height: 1.67
    text-transform: uppercase
    color: #828282

  &__name
    font-weight: 700
    font-size: 16px
    line-height: 1.25
    color: #333333

  &__icon
    position: relative
    flex: 0 0 auto
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    size: 32px
    border-radius: 50%
    background: #F9F9F9
    color: $colorPrimary
    font-size: 0
    transition: color .25s $ease
    .ico
      font-size: 14px
      transform: translateX(0.2em)

  &:hover
    border-color: $colorPrimary
    .nav-link
      &__icon
        color: $colorGreen

+r($hd)
  .footer
    &__left
      flex: 0 0 330px
      max-width: 330px
      padding: 40px 0 48px

    &__right
      padding: 50px 0 50px 35px

    &__address-content
      font-size: 14px
      line-height: 18px

    &__menu
      li
        a
          font-size: 13px

  .nav-link
    min-width: 175px

+r($xl)
  .footer
    &__nav
      flex-direction: column
      margin-top: -12px
    &__right
      padding: 50px 0 30px 25px
    &__left
      padding: 37px 0 30px 30px
      flex: 0 0 290px
      max-width: 290px
    &__address-content
      font-size: 12px
      line-height: 16px

  .nav-link
    width: 100%
    margin: 0 0 4px 0

+r($lg)
  .footer
    &__logo
      display: none
    &__left
      padding-left: 0
      padding: 40px 0 20px
      margin-left: -8px
      flex: 0 0 190px
      max-width: 190px
    &__right
      border-left: none
      padding: 35px 0 20px 20px
    &__address
      margin: 0 0 15px
    &__address-content
      font-size: 14px
      line-height: 18px
    &__developer
      a
        font-size: 12px
    &__menu
      a
        font-size: 12px
        line-height: 16px


  .nav-link
    padding: 12px
    min-width: 140px
    &__title
      font-size: 11px
      line-height: 20px
    &__name
      font-size: 14px
      line-height: 20px

+r($md)
  .footer
    &__wrapper
      flex-direction: column-reverse
    &__right
      flex-direction: column
      padding: 34px 0 0
    &__left
      margin: 0
      padding: 32px 0
      flex: 0 0 100%
      max-width: 100%
    &__address
      margin-bottom: 23px
    &__developer
      a
        font-size: 13px
    &__menu
      margin-right: 0
      li
        flex: 0 0 100%
        max-width: 100%
        margin-bottom: 8px
        a
          width: 100%
          text-align: center
    &__nav
      width: 100%
      flex-direction: row
      margin: 27px -4px 0


  .nav-link
    flex: 0 0 48%
    max-width: 48%
    margin: 0 4px
