// HISTORY
.history
  .container
    .history__row
      .history__image(data-aos="blur")
        .history__image-container(js-teleport data-teleport-to="image-mobile1" data-teleport-condition="<768" style="max-width: 85%")
          img(src='img/historyImg1_1.jpg' srcset='img/historyImg1_1@2x.jpg 2x')
          p(style="max-width: 45%") Карачаровский завод на Генеральном плане Москвы 1952 г.
        .history__image-container.history__image-container--absolute(js-teleport data-teleport-to="image-mobile2" data-teleport-condition="<768" style="right: 0; top: 71%; max-width: 57%")
          img(src='img/historyImg1_2.jpg' srcset='img/historyImg1_2@2x.jpg 2x')
          p План Карачаровского завода пластмасс 1946 г. ЦГА Москвы. Ф. Р-169. Оп. 1. Д. 21а
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 1940 г.
          p.history__title(data-aos="fade-in") 1 марта 1940 г. у завода появилась собственная печать «Карачаровский завод Главхимпласта», до этого использовалась печать «Управления строительства завода».
          .history__image-container.history__teleport(data-teleport-target="image-mobile1")
          p.history__description(data-aos="fade-in") Призванный производить бытовые, хозяйственные и промышленные изделия из сырья пресспорошка, завод состоял в ведении Главхимпласта Главного управления НКХП СССР. В начале 1940-х гг. на заводе действовали обувной цех, производивший полихлорвиниловую обувь (закрыт в конце марта 1946 г.), мастерская по производству босоножек (в ноябре 1946 г. переехала в подвальное помещение 3-й секции дома № 76) и цех пищевых дрожжей (реорганизован в августе 1944 г., его помещение было передано под общежитие). (реорганизован в августе 1944 г., его помещение было передано под
          .history__image-container.history__teleport(data-teleport-target="image-mobile2")
    .history__row.history__row--reverse
      .history__image
        .history__image-container(js-teleport data-teleport-to="image-mobile3" data-teleport-condition="<768")
          img(src='img/historyImg2.jpg' srcset='img/historyImg2@2x.jpg 2x' data-aos="blur")
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 1941 г.
          p.history__title(data-aos="fade-in") Вторая мировая война сильно изменила повседневную жизнь завода.
          .history__image-container.history__teleport(data-teleport-target="image-mobile3")
          p.history__description(data-aos="fade-in") В период с 26 октября по 13 ноября 1941 г. часть оборудования и сотрудников была эвакуирована в Нижний Тагил. Так, в Москве осталось 65 прессов из 110. Не смотря на военное положение, завод трудился на благо фронт и выпускал элементы различных боеприпасов, а именно детонаторов, баллистических колпаков, донышек для картечи, а также медальонов.
  .history__full
    .history__bg(js-teleport data-teleport-to="image-mobile4" data-teleport-condition="<768" style="background: #5E5E60;" data-aos="blur")
      img(src='img/historyImg3.png' srcset='img/historyImg3@2x.png 2x')
    .history__content
      .container
        .history__row
          .history__info
            .history__info-content
              p.history__date.history__date--white(data-aos="fade-in") 1945 г.
              p.history__title.history__title--white(data-aos="fade-in") После окончания войны заводу предстояло перейти от массового производства на крупно- и мелкосерийное, а также большее внимание уделить внешней отделке изделий.
              .history__image-container.history__teleport(data-teleport-target="image-mobile4" style="background: #5E5E60;" data-aos="blur")
              p.history__description.history__description--white(data-aos="fade-in") Ассортимент изделий был расширен как за счет изготовления своими силами пресс-форм, так и за счет ввода в эксплуатацию около 60 единиц трофейного оборудования, и полноценной реконструкции цехов. Автопарк завода приобрел в конце войны машину «Мерседес-Бенц», на которой осуществлялась доставка производственных материалов.
  .container
    .history__row.history__row--reverse
      .history__image
        .history__image-container(js-teleport data-teleport-to="image-mobile5" data-teleport-condition="<768")
          img(src='img/historyImg4_1.jpg' srcset='img/historyImg4_1@2x.jpg 2x' data-aos="blur")
        .history__image-container.history__image-container--absolute(style="left: 23%; top: 50%; max-width: 44%")
          img(src='img/historyImg4_2.jpg' srcset='img/historyImg4_2@2x.jpg 2x' data-aos="blur")
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 1985 г.
          p.history__title(data-aos="fade-in") К 1985 году Полимербыт является передовым предприятием химической отрасли г. Москвы.
          .history__image-container.history__teleport(data-teleport-target="image-mobile5")
          p.history__description(data-aos="fade-in") Этот год стал переломным в судьбе производства – предприятие, в соответствии с новыми веяниями социалистической экономики переводится на хозрасчет и обретает новое, востребованное потребителями направление деятельности – производство полиэтиленовых пакетов.
  .history__full
    .history__bg(js-teleport data-teleport-to="image-mobile6" data-teleport-condition="<768" style="background: #3D3D3D;" data-aos="blur")
      img(src='img/historyImg5.png' srcset='img/historyImg5@2x.png 2x' style="width: 106.5%")
    .history__content
      .container
        .history__row.history__row--margin
          .history__info
            .history__info-content
              p.history__date.history__date--white(data-aos="fade-in") 1992 г.
              p.history__title.history__title--white(data-aos="fade-in") В 1992 году на предприятии проводится процедура приватизации.
              .history__image-container.history__teleport(data-teleport-target="image-mobile6" style="background: #3D3D3D;" data-aos="blur")
              p.history__description.history__description--white(data-aos="fade-in") Менеджмент и сотрудники становятся акционерами компании. Уже в 1993 году контрольный пакет акций предприятия приобретает ряд американских инвесторов, специализирующихся на инвестициях в компании, занимающиеся переработкой полимеров, в разных странах мира.
  .container
    .history__row
      .history__info.history__info--middle
        .history__info-content(style="max-width: 560px;")
          p.history__date(data-aos="fade-in") 1994 г.
          p.history__title(data-aos="fade-in") 1994 год был ознаменован комплексной модернизацией производственных мощностей и оборудования. АО «Полимербыт» активно осваивает новые технологии, наращивает конкурентоспособность.
    .history__row.history__row--reverse
      .history__image
        .history__image-container(js-teleport data-teleport-to="image-mobile7" data-teleport-condition="<768")
          img(src='img/historyImg6_1.jpg' srcset='img/historyImg6_1@2x.jpg 2x' data-aos="blur")
        .history__image-container.history__image-container--absolute(style="left: 23%; top: 50%; max-width: 44%")
          img(src='img/historyImg6_2.jpg' srcset='img/historyImg6_2@2x.jpg 2x' data-aos="blur")
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 2002 – 2005 г.
          p.history__title(data-aos="fade-in") Уже к 2002 году Полимербыт занимает лидирующее положение на рынке изделий из пластика.
          .history__image-container.history__teleport(data-teleport-target="image-mobile7")
          p.history__description(data-aos="fade-in") Осуществляются масштабные инвестиции в оборудование и инфраструктуру. Всего через несколько лет, в 2005 году происходит значительное расширение ассортимента производимой продукции. В том же году руководство компании принимает решение о начале прямых розничных продаж.
          p.history__date(style="margin-top: 48px;" data-aos="fade-in") 2007 – 2009 г.
          p.history__title(data-aos="fade-in") В 2007 – 2009 годах компания берет курс на концентрацию на производстве бытовых изделий из пластика.
          p.history__description.history__description--mt8(data-aos="fade-in") Начинается масштабная программа внутренней оптимизации и развития.Компания активно инвестирует в развитие, новое оборудование, инфраструктуру, технологии и коллектив.
    .history__row
      .history__image
        .history__image-container(js-teleport data-teleport-to="image-mobile8" data-teleport-condition="<768")
          img(src='img/historyImg7.jpg' srcset='img/historyImg7@2x.jpg 2x' data-aos="blur")
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 2010 г.
          p.history__title(data-aos="fade-in") В 2010 году Компания выводит на рынок десятки новых изделий, значительно расширяет свое присутствие в розничных сетях.
          .history__image-container.history__teleport(data-teleport-target="image-mobile8")
          p.history__description(data-aos="fade-in") Продолжается курс на модернизацию, бережливое производство, повсеместную роботизацию производства. Проводится усиление финансового и IT блоков компании, появляется позиция Директора по развитию, частично обновляется рабочий коллектив. Окончательно закрывается производство полиэтиленовых пакетов и руководство компании полностью фокусируется на стратегически важном рынке бытовых изделий из пластика.
    .history__row
      .history__image
        .history__image-container(js-teleport data-teleport-to="image-mobile9" data-teleport-condition="<768")
          img(src='img/historyImg8.jpg' srcset='img/historyImg8@2x.jpg 2x' data-aos="blur")
      .history__info
        .history__info-content
          p.history__date(data-aos="fade-in") 2011 г.
          p.history__title(data-aos="fade-in") В 2011 году компания продолжает увеличивать долю рынка, ряд крупных сетей и несетевых оптовых клиентов сокращает закупки у конкурентов и переходит в АО «Полимербыт».
          .history__image-container.history__teleport(data-teleport-target="image-mobile9")
          p.history__description(data-aos="fade-in") Проводятся масштабные инвестиции в складской комплекс, создаются тысячи метров новых площадей, выкупаются в собственность земельные участки под обоими производственными площадками в Москве. Компания активно рассматривает варианты качественного скачка в развитии через создание или приобретение новых производственных площадок.
    .history__row
      .history__info.history__info--middle
        .history__info-content(style="max-width: 755px;")
          p.history__date(data-aos="fade-in") 2012 г.
          p.history__title(data-aos="fade-in") В 2012 году компания осуществляет самые масштабные инвестиции за свою новейшую историю, ускоряется работа по обновлению и расширению ассортимента продукции, начинается партнерство с Walt Disney, производятся крупные поставки пластиковых изделий для нужд Олимпиады Сочи-2014. Тем самым закладываются прочные основы уверенного роста компании в будущем.
  .history__full
    .history__bg(js-teleport data-teleport-to="image-mobile10" data-teleport-condition="<768" style="background: #3D3D3D;" data-aos="blur")
      img(src='img/historyImg5.png' srcset='img/historyImg5@2x.png 2x' style="width: 106.5%")
    .history__content.history__content--last
      .container
        .history__row.history__row--margin
          .history__info
            .history__info-content
              p.history__date.history__date--white(data-aos="fade-in") 2019 г.
              p.history__title.history__title--white(data-aos="fade-in") 2019 год стал для компании Полимербыт юбилейным.
              .history__image-container.history__teleport(data-teleport-target="image-mobile10" style="background: #3D3D3D;" data-aos="blur")
              p.history__description.history__description--white(data-aos="fade-in") В этом году 80летний опыт компании сконцентрировался в новом бренде Forma. Функциональные изделия, представленные в среднем и среднем + ценовых сегментах, предложат полное удовлетворение бытовых потребностей взыскательных потребителей. Также, в начале года Полимербыт укрепил партнерство со студией Universal Pictures, став лицензиатом сразу двух крупных проектов – «Как приручить дракона» и «Миньоны».
