.ico-mono-home-design {
  width: 0.89em;
  height: 1em;
  fill: #A01E25;
}
.ico-mono-home-eco {
  width: 1.1em;
  height: 1em;
  fill: #A01E25;
}
.ico-mono-home-tech {
  width: 0.99em;
  height: 1em;
  fill: #A01E25;
}
.ico-mono-logo {
  width: 3.71em;
  height: 1em;
  fill: #fff;
}
.ico-mono-plus {
  width: 1em;
  height: 1em;
  fill: #A01E25;
}
.ico-mono-arrow-right {
  width: 0.64em;
  height: 1em;
  fill: #A01E25;
}
