.ico-color-brandCard_1 {
  width: 0.91em;
  height: 1em;
}
.ico-color-brandCard_2 {
  width: 0.73em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-graph-bg-xl {
  width: 2.02em;
  height: 1em;
}
.ico-color-graph-bg {
  width: 2.63em;
  height: 1em;
}
.ico-color-home-design {
  width: 0.89em;
  height: 1em;
}
.ico-color-home-eco {
  width: 1.1em;
  height: 1em;
}
.ico-color-home-tech {
  width: 1em;
  height: 1em;
}
.ico-color-icon-2tech {
  width: 0.99em;
  height: 1em;
}
.ico-color-icon-assort {
  width: 1.01em;
  height: 1em;
}
.ico-color-icon-dist {
  width: 1.06em;
  height: 1em;
}
.ico-color-icon-doc-down {
  width: 1em;
  height: 1em;
}
.ico-color-icon-doc {
  width: 1em;
  height: 1em;
}
.ico-color-icon-gr1 {
  width: 0.99em;
  height: 1em;
}
.ico-color-icon-gr2 {
  width: 1.07em;
  height: 1em;
}
.ico-color-icon-gr3 {
  width: 0.99em;
  height: 1em;
}
.ico-color-icon-gr4 {
  width: 0.99em;
  height: 1em;
}
.ico-color-icon-gr5 {
  width: 1em;
  height: 1em;
}
.ico-color-icon-gr6 {
  width: 0.96em;
  height: 1em;
}
.ico-color-icon-gr7 {
  width: 1.05em;
  height: 1em;
}
.ico-color-icon-gr8 {
  width: 1.2em;
  height: 1em;
}
.ico-color-icon-gr9 {
  width: 1.36em;
  height: 1em;
}
.ico-color-icon-high {
  width: 1em;
  height: 1em;
}
.ico-color-icon-iml {
  width: 0.71em;
  height: 1em;
}
.ico-color-icon-mail-c {
  width: 1em;
  height: 1em;
}
.ico-color-icon-mail {
  width: 1em;
  height: 1em;
}
.ico-color-icon-map {
  width: 1.02em;
  height: 1em;
}
.ico-color-icon-optimization {
  width: 1.11em;
  height: 1em;
}
.ico-color-icon-phone-c {
  width: 1em;
  height: 1em;
}
.ico-color-icon-phone {
  width: 1em;
  height: 1em;
}
.ico-color-icon-points {
  width: 0.99em;
  height: 1em;
}
.ico-color-icon-potential {
  width: 1.01em;
  height: 1em;
}
.ico-color-icon-production {
  width: 1.01em;
  height: 1em;
}
.ico-color-icon-view {
  width: 1.02em;
  height: 1em;
}
.ico-color-left-arrow {
  width: 4.92em;
  height: 1em;
}
.ico-color-right-arrow {
  width: 4.92em;
  height: 1em;
}
